.title {
    text-align: center;
    margin: 2rem 0;
  }
  .form-input {
    display: flex;
    justify-content: center;
  }
  .form-input input {
    width: 25%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0 0.5rem;
    height: 35px;
  }
  .form-input button {
    height: 40px;
    margin-left: 1%;
    background-color: rgb(71, 11, 103);
    font-weight: bold;
    color: white;
    border-radius: 10px;
    width: 10%;
    transition: 0.25s;
    border: 0px;
  }
  .list-times {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }
  table {
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(0, 0, 0) 0px 0px 0px 3px;
    border-collapse: collapse;
    text-align: center;
  }
  table thead {
    background-color: rgb(0, 0, 0);
    color: white;
  }
  table thead th {
    font-weight: bolder;
  }
  table tbody tr:nth-child(odd) {
    background-color: rgb(63, 94, 251);
    color: white;
  }